{% extends "squelette.html" %}
{% block titre %}Accueil {% endblock %}
{% block contenu %}
    <p>Ce site a pour objectif d'aider les pratiquants débutants l'Aïkido à mémoriser les différentes techniques.</p>
    <p> Le principe est basé sur celui des cartes <a href="https://apps.ankiweb.net/">Anki</a>. </p>
    <p> L'utilisateur <span class ="w3-text-yellow">non inscrit</span> se voit proposer un ensemble de techniques. Chaque technique est énoncée à l'oral et à l'écrit.
        L'utilisateur doit imaginer et visualiser la technique proposée. Il peut ensuite visualiser un extrait vidéo, et signaler par l'intermédiaire de deux boutons :
    <ul>
        <li> soit qu'il connait la technique, auquel cas cette dernière sera retirée du pool de techniques à réviser ;
        <li> soit qu'il ne la connait pas, auquel cas cette dernière sera réintroduite dans le pool de carte et ré-apparaîtra
    aléatoirement.</li>
    </ul>
    </p>
    <p class="w3-theme-l4">Ce site est actuellement en construction, et ne supporte pour l'instant pas la mémorisation des techniques par des utilisateurs connectés.</p>
    <p class="w3-theme-l4"> Les extraits audio et vidéo  proviennent d'une vidéode <a href="http://www.christiantissier.com/">Christian Tissier Shihan</a>. Elles seront retirées si demande de l'auteur.</p>

{% endblock %}