{% extends "squelette.html" %}
{% block titre %}{{ level }} Kyu :{{ name }} {% endblock %}
{% block corps %}
<h2>{{ level }} Kyu :{{ name }} </h2>

    <audio controls autoplay="True" preload="auto" src="{{sound}}"  type="audio/mpeg">
        Your browser does not support the <code>audio</code> element.
    </audio>

<input class="bouton"
       id="showvid"
       type="button"
       value="Voir la Vidéo" >
<div id="Solution">
 <video id="videotechs" controls src="{{video}}" >  </video>
<form>
    <input type="radio" id="inconnue" name="choix" value="inconnue">
    <label for="inconnue">Je ne la connais pas.</label>
    <input type="radio" id="malconnue" name="choix" value="malconnue" >
    <label for="malconnue">Je la connais mal.</label>
    <input type="radio" id="connue" name="choix" value="connue" >
    <label for="connue">Je la connais .</label>
    <input type="radio" id="bienconnue" name="choix" value="bienconnue" >
    <label for="bienconnue">Je la connais bien.</label>
    <input type="bouton" id="suivant" name="suivant" value="Technique suivante">
</form>


    </div>
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
    $("#showvid").click(function() {
        $("#Solution").show();
        console.log("toto");
        $("#videotechs").attr({autoplay:true});
        });
    $('#suivant').on('click',function() {
        location.reload();
    });



</script>
{% endblock %}