<!DOCTYPE html>
<html lang="fr">
<head>
    {%  block header %}
    <meta charset="UTF-8">
        <title>{% block titre %}AikiKwizz{%  endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='styleTechs.css')}}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

    {% endblock %}
</head>
<body class="w3-theme">
    {% block head %}
        <div  class="w3-theme-d3 w3-card">
        <h1 class="w3-container w3-center w3-theme-d3"><a class="w3-button" href="{{ url_for('index')}}">AikiKwizz</a></h1>
        <div class="w3-bar w3-border">
        {% if current_user.is_authenticated %}
            <p class="w3-bar-item w3-blue"> Connecté sous le nom {{ current_user.login }}</p>
            <a class="w3-bar-item w3-button w3-right" href="{{ url_for('myprofile')}}">Mon Profil</a>
            <a class="w3-bar-item w3-button w3-right" href="{{ url_for('logout')}}">Déconnexion</a>
        </span>
        {% else %}
            <p class="w3-bar-item w3-yellow" onclick="this.style.display='none'"> Non connecté </p>
            <a class="w3-bar-item w3-button w3-right" href="{{ url_for('login')}}">Connexion</a>
            <a class="w3-bar-item w3-button w3-right" href="{{ url_for('register')}}">Inscription</a>
        {% endif %}

        </div>
        </div>
    {% endblock %}

    {% block sidebar %}
        <div class="w3-sidebar w3-bar-block w3-theme-d5 w3-border"  style="width : 15%" id="mySidebar">
            <button class="w3-bar-item w3-button w3-hide-large"
                onclick="w3_close()">Close &times;</button>
            <a href="{{url_for("make_quizz",level=5)}}" class="w3-bar-item w3-button w3-theme-d5 w3-center">5ème Kyu</a>
            <a href="{{url_for("make_quizz",level=4)}}" class="w3-bar-item w3-button w3-theme-d5 w3-center">4ème Kyu</a>
            <a href="{{url_for("make_quizz",level=3)}}" class="w3-bar-item w3-button w3-theme-d5 w3-center">3ème Kyu</a>
            <a href="{{url_for("make_quizz",level=2)}}" class="w3-bar-item w3-button w3-theme-d5 w3-center">2ème Kyu</a>
            <a href="{{url_for("make_quizz",level=1)}}" class="w3-bar-item w3-button w3-theme-d5 w3-center">1er Kyu</a>
        </div>
    {% endblock %}
    {% block corps %}
        <div class = "w3-theme-text w3-theme" style ="margin-left:15%" >
        {% block error_message %}
                <div class="w3-theme">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <p class="w3-panel w3-red">{{ message }}</p>
                 {% endfor %}

            {% endif %}
        {% endwith %}
                </div>
        {% endblock %}
        {%  block contenu %}
        {%  endblock %}
        </div>
    {% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>